*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar-toggler{
    width: 40px;
    height: 40px;
    background-color: transparent;
    padding: .125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-toggler .line{
    width: 90%;
    height: 2px;
    background-color: #FFF;
    position: relative;
    box-shadow: 0 0 5px rgba(200,200,200,.3);
    transition: all .5s ease-in-out;
}
.navbar-toggler .line::before{
    content: "";
    width: 100%;
    height: inherit;
    background-color: #FFF;
    position: absolute;
    top: -10px;
    box-shadow: 0 0 5px rgba(200,200,200,.3);
    transition: all .5s ease-in-out;

}
.navbar-toggler .line::after{
    content: "";
    width: 100%;
    height: inherit;
    background-color: #FFF;
    position: absolute;
    top: 10px;
    box-shadow: 0 0 5px rgba(200,200,200,.3);
    transition: all .5s ease-in-out;

}

.navbar-toggler.open .line{
    transform: translateX(-25px);
    background-color: transparent;
    box-shadow: none;
}
.navbar-toggler.open .line::before{
    transform: translate(25px,9px) rotate(45deg);
}
.navbar-toggler.open .line::after{
    transform: translate(25px,-9px) rotate(-45deg);

}


@media (min-width:768px){

    .news-input{
        width: 75%;       
    }
}